<div class="main_header">
  <h1 class="display-4">Complaint Redressal System</h1>
</div>

<div class="container main_container">
  <div class="row" style="justify-content: center">
    <div style="padding: 2rem">
      <a routerLink="/login">Admin Login </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/customers">Customer </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/managers">Manager </a><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/engineers">Engineer </a><br />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
